body {
  margin: auto;
  max-width: 650px;
  padding: 10px;
  border: 1px solid black;
}
.fields {
  margin-top: 20px;
}
#lastname {
  margin-left: 10px;
}

.headerRow {
  text-align: left;
}

#table1 {
  width: 100%;
}
#table2 {
  width: 100%;
}

th,
td {
  text-align: center;
  padding: 5px;
  border-radius: 5px;
}
tr:nth-child(even) {
  background-color: lightgrey;
}

#submitButton {
  border-radius: 5px;
  width: 100px;
  height: 30px;
}
