body {
  background-color: whitesmoke;
}
.container {
  max-width: 800px;
  border: 2px solid black;
  display: flex;
  margin: auto;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

#header {
  text-align: center;
}

.details {
  font-family: Georgia, "Times New Roman", Times, serif;
}

img {
  border-radius: 200px;
  padding: 50px 50px;
}
#left_col {
  width: 250px;
  background-color: orange;
}

#right_col {
  width: 450px;
  background-color: rgb(6, 8, 8);
}
.details {
  padding: 5px;
}
